#servicios{
    margin-top: 50px;
    padding-top: 50px;

    height: 100vh;
}

#servicios h1{
    text-align: center;
}

.servicios_card_container{
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
}

.servicios_icon_container{
    display: flex;
    justify-content: space-evenly;

    position: relative;
    top: -400px;
}
.servicios_icon_container svg{
    height: 300px;
    width: 300px;

    color: var(--GrisMedio);
}


.servicios_card {
    height: 450px;
    width: 310px;

    /* margin-left: 100px; */
    /* margin-bottom: 100px; */

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    overflow: hidden;
    z-index: 100;
    display: flex;
}

.servicios_card .title{
    height: 100%;
    width: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.servicios_card .title.desarollo{
    background-color: var(--Naranja);
}
.servicios_card .title.diseño{
    background-color: var(--Morado);
}
.servicios_card .title.soporte{
    background-color: var(--Celeste);
}

.servicios_card .title h1{
    margin: 0;

    font-size: 3rem;
    color: var(--GrisClaro);
    transform: rotate(-90deg);
}

.servicios_card p{
    margin: 0;
    padding: 30px;
    
    font-weight: bold;
}


@media (max-width: 1400px) {
    .servicios_card_container{
        margin-top: 40px;
    }

    .servicios_card {
        height: 400px;
    }

    .servicios_icon_container{
        top: -350px;
    }
}


@media (max-width: 500px) {
    #servicios {
        height: fit-content;
        /* height: 140vh; */
    }

    .servicios_icon_container{
        display: none;
    }

    /* .servicios_icon_container{
        top: -1120px;

        width: 100%;

        flex-direction: column;
        align-items: center;
    } */

    /* .servicios_icon_container svg{
        margin-bottom: 90px;
    } */

    .servicios_card_container {
        flex-direction: column;
        align-items: center;

        width: 100%;
    }  

    .servicios_card {
        height: fit-content;
        width: 80%;

        margin-bottom: 50px;

        flex-direction: column;
    }

    .servicios_card .title{
        height: 70px;
        width: 100%;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .servicios_card .title h1{
        font-size: 2rem;
        transform: rotate(0deg);
    }
}