.INGsoft .navbar{
    position: fixed;
    top: 0;
    /* width: 96vw; */
    width: 100%;
    height: 70px;

    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    padding-left: 50px;
    /* padding-right: 50px; */

    /* background-color: #EFEFEF; */

     /* From https://css.glass */
     background: rgba(255, 255, 255, 0.2);
     border-radius: 16px;
     box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(5px);
     -webkit-backdrop-filter: blur(5px);
     border: 1px solid rgba(255, 255, 255, 0.3);

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 1000;
}

.INGsoft .navbar .links{
    height: 100%;

    display: flex;
    align-items: center;

    padding-right: 100px;
}

.INGsoft .navbar a{
    font-size: 1.2rem;

    margin-left: 30px;

    font-weight: bold;
}
.INGsoft .navbar a.icono{
    height: 100%;
}

.INGsoft .navbar .navegation{
    display: none;
}

.INGsoft .navbar .logo{
    height: 100%;

    display: flex;
    align-items: center;
}

.INGsoft .navbar .logo img{
    height: 80%;
    width: auto;
}



@media (min-width: 30em) and (orientation: landscape) {
    .INGsoft .navbar .navegation{
        display: block;
    }
}



    