:root {
    /* generales */
    --Naranja: #D45E2C;
    --GrisClaro: #EFEFEF;
    --GrisMedio: #CECECE;
    --GrisOscuro: #191D20;

    /* servicios */
    --Morado: #6524c6;
    --Celeste: #096dd9;

    scroll-behavior: smooth;
}

html {
    width: 100vw;

    /* overflow: hidden; */
    overflow-x: hidden;

    background-color: var(--GrisClaro);
}

body {
    padding: 0;
    margin: 0;

    width: 100vw;
}

a {
    color: var(--GrisOscuro);
    text-decoration: none;
}

h1 {
    font-size: 3.5rem;
}

.INGsoft {
    background-color: var(--GrisClaro);
}

.contacto {
    height: 42px;
    width: 200px;

    border-radius: 25px;

    padding-left: 20px;
    padding-right: 20px;

    background-color: var(--Naranja);
    color: var(--GrisClaro);
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
}

.INGsoft h1 {
    color: var(--GrisOscuro);
    font-weight: bold;

    z-index: 5;
}

@media (max-width: 750px) {
    .INGsoft h1 {
        font-size: 2rem;
    }
}




